extends layout
block content
  h1 Hello World!
  p Welcome to #{title}
  <a href="/new">Send a Message</a>

  ul
    each message in messages
      li= message.user
      li= message.added
      li= message.text
      br

//- block content
//-   h3= user
//-   p= text 
//-   p= added 
